<section class="mbr-section mbr-section-md-padding mbr-footer footer1" id="contacts1-6" style="background-color: rgb(46, 46, 46); padding-top: 90px; padding-bottom: 90px;">

    <div class="container">
        <div class="row">
            <div class="mbr-footer-content col-xs-12 col-md-3">
                <div>{{ theme:image file="logo.png" }}</div>
            </div>
            <div class="mbr-footer-content col-xs-12 col-md-3">
                <p><strong>Address</strong><br> 1234 Street Name<br> City, AA 99999</p>
            </div>
            <div class="mbr-footer-content col-xs-12 col-md-3">
                <p><strong>Contacts</strong><br> Email: support@nuesto.id<br> Phone: +1 (0) 000 0000 001<br> Fax: +1 (0) 000 0000 002</p>
            </div>
            <div class="mbr-footer-content col-xs-12 col-md-3">
                <p><strong>Links</strong><br>
                    <a class="text-primary" href="https://nuesto.id/">Website builder</a><br>
                    <a class="text-primary" href="https://nuesto.id/mobirise-free-win.zip">Download for Windows</a><br>
                    <a class="text-primary" href="https://nuesto.id/mobirise-free-mac.zip">Download for Mac</a></p>
            </div>

        </div>
    </div>
</section>

<footer class="mbr-small-footer mbr-section mbr-section-nopadding" id="footer1-2" style="background-color: rgb(50, 50, 50); padding-top: 1.75rem; padding-bottom: 1.75rem;">

    <div class="container">
        <p class="text-xs-center">Copyright (c) 2016 Nuesto Technology.</p>
    </div>
</footer>