<section id="menu-0">

    <nav class="navbar navbar-dropdown bg-color transparent navbar-fixed-top">
        <div class="container">

            <div class="mbr-table">
                <div class="mbr-table-cell">

                    <div class="navbar-brand">
                        <a href="https://nuesto.id" class="navbar-logo">{{ theme:image file="logo.png" alt="Mobirise" }}</a>
                        <a class="navbar-caption" href="https://nuesto.id">PYRO BASE</a>
                    </div>

                </div>
                <div class="mbr-table-cell">

                    <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
					<div class="hamburger-icon"></div>
				</button>

                    <ul class="nav-dropdown collapse pull-xs-right nav navbar-nav navbar-toggleable-sm" id="exCollapsingNavbar">
                        <li class="nav-item"><a class="nav-link link" href="https://nuesto.id/">OVERVIEW</a></li>
                        <li class="nav-item dropdown"><a class="nav-link link dropdown-toggle" data-toggle="dropdown-submenu" href="https://nuesto.id/">FEATURES</a>
                            <div class="dropdown-menu"><a class="dropdown-item" href="https://nuesto.id/">Mobile friendly</a><a class="dropdown-item" href="https://nuesto.id/">Based on Bootstrap</a>
                                <div class="dropdown"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown-submenu" href="https://nuesto.id/">Trendy blocks</a>
                                    <div class="dropdown-menu dropdown-submenu"><a class="dropdown-item" href="https://nuesto.id/">Image/content slider</a><a class="dropdown-item" href="https://nuesto.id/">Contact forms</a><a class="dropdown-item" href="https://nuesto.id/">Image gallery</a>
                                        <a
                                            class="dropdown-item" href="https://nuesto.id/">Mobile menu</a><a class="dropdown-item" href="https://nuesto.id/">Google maps</a><a class="dropdown-item" href="https://nuesto.id/">Social buttons</a><a class="dropdown-item" href="https://nuesto.id/">Google fonts</a>
                                            <a
                                                class="dropdown-item" href="https://nuesto.id/">Video background</a>
                                    </div>
                                </div><a class="dropdown-item" href="https://nuesto.id/">Host anywhere</a></div>
                        </li>
                        <li class="nav-item dropdown"><a class="nav-link link dropdown-toggle" data-toggle="dropdown-submenu" href="https://nuesto.id/">HELP</a>
                            <div class="dropdown-menu"><a class="dropdown-item" href="http://forums.nuesto.id/">Forum</a><a class="dropdown-item" href="https://nuesto.id/">Tutorials</a><a class="dropdown-item" href="https://nuesto.id/">Contact us</a></div>
                        </li>
                        <li class="nav-item nav-btn"><a class="nav-link btn btn-white btn-white-outline" href="<?php echo site_url('users/view'); ?>">MEMBER AREA</a></li>
                    </ul>
                    <button hidden="" class="navbar-toggler navbar-close" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
					<div class="close-icon"></div>
				</button>

                </div>
            </div>

        </div>
    </nav>

</section>