<!DOCTYPE html>
<html>

    <head>
        {{ theme:partial name='metadata' }}

    </head>

    <body>
    	{{ theme:partial name='menu' }}

    	<section class="engine"><a rel="external" href="https://mobirise.com">Mobirise</a></section>
		<section class="mbr-section article mbr-parallax-background mbr-after-navbar" id="msg-box8-s" style="background-image: url({{ url:site }}{{ theme:path }}/img/desert.jpg); padding-top: 80px; padding-bottom: 0px;">

		    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(34, 34, 34);">
		    </div>
		    <div class="container">
		        <div class="row">
		            <div class="col-md-8 col-md-offset-2 text-xs-center">



		            </div>
		        </div>
		    </div>

		</section>

		<section class="mbr-section mbr-section__container article" id="header3-r" style="background-color: rgb(255, 255, 255); padding-top: 100px; padding-bottom: 20px;">
		    <div class="container">
		        <div class="row">
		            <div class="col-xs-12">
		                <h3 class="mbr-section-title display-2">{{ title }}</h3>
		            </div>
		        </div>
		    </div>
		</section>

		<section class="mbr-section article mbr-section__container" id="content1-p" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">

		    <div class="container">
		        <div class="row">
		            <div class="col-xs-12 lead">
		                {{ template:body }}
		            </div>
		        </div>
		    </div>

		</section>

        {{ theme:partial name='footer' }}

        {{ theme:partial name='footer_script' }}
    </body>
</html>