<!DOCTYPE html>
<html>

    <head>
        {{ theme:partial name='metadata' }}

    </head>

    <body>
    	{{ theme:partial name='menu' }}

        {{ template:body }}

        {{ theme:partial name='footer' }}

        {{ theme:partial name='footer_script' }}
    </body>
</html>