/***************************************
 *	CONTENT HEADER
 ***************************************/

section.title {
    border-bottom: 1px dotted #E2E2E2;
    margin: 0 0 12px;
    padding-bottom: 16px;
    padding-top: 7px;
}

.title h4 {
    color: #2679B5;
    font-size: 24px;
    font-weight: lighter;
    margin: 0 8px;
    padding: 0;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/***************************************
 *	CONTENT ITEM :: NO DATA
 ***************************************/

.no_data {
    border-radius: 0 0 0 0;
    border-radius: 3px 3px 3px 3px;
    padding: 9px;
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}

/***************************************
 *	TABLES
 ***************************************/
 
 .table-list {
    border-radius: 0 0 0 0 !important;
    border: 1px solid #DDDDDD;
    margin-bottom: 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.table-list thead tr {
    background: linear-gradient(to bottom, #F8F8F8 0px, #ECECEC 100%) repeat-x scroll 0 0 #F2F2F2;
    color: #707070;
    font-weight: normal;
}

.table-list > th, .table-list > td {
    border-radius: 0 0 0 0 !important;
	text-align: left;
}

.table-list thead > tr > th, .table-list tbody > tr > th, .table-list tfoot > tr > th, .table-list thead > tr > td, .table-list tbody > tr > td, .table-list tfoot > tr > td {
    border-top: 1px solid #DDDDDD;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}

.actions > .button {
    background-color: #1d7982 !important;
    border-color: #1d7982;
    border-width: 3px;
    background-image: none !important;
    border-radius: 0 0 0 0;
    box-shadow: none !important;
    color: #FFFFFF !important;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    position: relative;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
    transition: all 0.15s ease 0s;
    vertical-align: middle;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    -moz-user-select: none;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
}

.actions > .button:hover {
    background-color: #00535b !important;
	text-decoration: none;
}

.actions > .button.confirm {
    background-color: #D15B47 !important;
    border-color: #D15B47;
}
	
.actions > .button.confirm:hover{
    background-color: #B74635 !important;
	text-decoration: none;
}

/***************************************
 *	FORMS
 ***************************************/
 
 .form-inputs > ul > li > label{
	text-align: right;
	width: 25%;
	vertical-align: middle;
	font-size: 14px;
    font-weight: normal;
	display: inline-block;
 }
 
 .form-inputs > fieldset > ul li {
    list-style: none outside none;
    position: relative;
}