.video-thumbnail {
	max-width:100%;
	max-height:100%;
	margin-bottom: 10px;
}
.video-info-container {
	position: relative;
	min-height: 300px;
	overflow: hidden;
	margin-bottom: 20px;
}
.inner{
	position:absolute;
    width:100%; height: 20px;
    top:0; left:0; right:0;
    bottom:0;
    margin:auto;
    z-index:2;
    color: #FFF;
    font-size: 18px;
}
.inner .video-action-play {
	margin-left: 10px;
	margin-right: 10px;
}
.inner a{
	text-decoration: none;
}
.hovereffect {
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
}

.hovereffect .overlay {
	position: absolute;
	overflow: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;

}

.hovereffect:hover .overlay {
	background-color: rgba(0,0,0,0);
}

.hovereffect img {
	display: block;
	position: relative;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}

.hovereffect:hover img {

	filter: brightness(0.5);
	-webkit-filter: brightness(0.5);
}

.hovereffect a, .hovereffect p {
	color: #FFF;
	padding: 1em 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-150%,-400%,0);
	transform: translate3d(-150%,-400%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2, .hovereffect:hover .overlay {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.theater {
	background-color: black; 
	margin-left: -20px; 
	margin-right: -20px;
	margin-bottom: 20px;min
}
.theater-screen {
	max-width: 700px; 
	margin: auto;
}
.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
	.video-info-container {
		margin-bottom: 20px;
	}
}

@media (min-width: 768px) {
	.video-info-container {
		max-height: 300px;
	}
}