.row.data-detail{
	margin: 0px;
}
.data-detail.first .data-detail-label {
	border-top: 0px;
}
.data-detail.first .data-detail-value {
	border-top: 0px;
}
.data-detail-label {
    border-top: 1px dotted #d5e4f1;
    padding: 6px 10px 6px 0;
    text-align: right;
    color: @secondary-color-dark;
}
.data-detail-value {
    border-top: 1px dotted #d5e4f1;
    padding: 6px 4px 6px 6px;
}