<div id="header">
    <div class="row">
        <div class="top-bar bg-color"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <div id="logo" class="inner-logo">
                    <a href="{{url:site}}">{{theme:image file="logo1-default.png"}}</a>
                </div>
				<div id="site-name" class="inner-site-name">
                    <a href="<?php echo base_url(); ?>"><h1>{{ settings:site_name }}</h1></a>
                </div>
            </div>
            <div class="col-xs-9">
                <div id="menu-container" class="row border-bott">
                    <div class="top-menu">
                        <ul id="nav" class="nav-full">
                            {{ navigation:links group="header" }}
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

</div>

