	<!-- Begin meta tags -->
<title>{{ template:title }} - {{ settings:site_name }}</title>

<!-- Facebook Tags -->
<meta property="og:title" content="{{ template:title }} - {{ settings:site_name }}"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="author" content="Rendy Saputra &amp; Keke Busana" />
<meta name="copyright" content="Rendy Saputra &amp; Keke Busana" />
<meta property="og:type" content="elearning"/>
<meta property="og:url" content="{{ url:site }}"/>
<meta property="og:image" content="{{ url:site }}{{ theme:path }}/img/logo_login.png"/>
<meta property="og:site_name" content="{{ settings:site_name }}"/>
<meta property="og:description" content="{{ settings:site_name }}"/>

<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<!-- /Mobile Specific Metas -->

<!-- favicon -->
{{ theme:favicon file="favicon.ico" }}

<!--styles-->
<link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
{{ theme:css file="themify-icons.css" }}
{{ theme:css file="bootstrap.css" }}
{{ theme:css file="flexslider.css" }}
{{ theme:css file="theme-red.css" }}
{{ theme:css file="custom.css" }}
{{ theme:css file="progress-wizard.min.css" }}

<!--scripts-->

{{ theme:js file="jquery.min.js" }}
{{ theme:js file="bootstrap.min.js" }}

<!-- meta from modules and pages -->
{{ template:metadata }}