<meta charset="utf-8">
<title>Sekolah Bisnis DuaKodiKartika.com</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="author" content="Rendy Saputra &amp; Keke Busana" />
<meta name="copyright" content="Rendy Saputra &amp; Keke Busana" />

<!-- Facebook Tags -->
<meta property="og:title" content="Sekolah Bisnis Dua Kodi Kartika"/>
<meta property="og:type" content="elearning"/>
<meta property="og:url" content="{{ url:site }}"/>
<meta property="og:image" content="{{ url:site }}{{ theme:path }}/img/duakodi-preview.jpg"/>
<meta property="og:site_name" content="{{ settings:site_name }}"/>
<meta property="og:description" content="Dapatkan pembelajaran yang komprehensif tentang bagaimana mengelola dan membangun bisnis melalui platform duakodikartika.com"/>

<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<!-- /Mobile Specific Metas -->

<!-- favicon -->
{{ theme:favicon file="favicon.ico" }}

<link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,600,700" rel="stylesheet" type="text/css">

{{ theme:css file="new/css/themify-icons.css" }}
{{ theme:css file="new/css/bootstrap.css"" }}
{{ theme:css file="new/css/theme-red.css" }}
{{ theme:css file="new/css/font-awesome.min.css" }}
{{ theme:css file="new/css/font-roboto.css" }}
{{ theme:css file="new/css/custom.css" }}
{{ theme:css file="new/css/media.css" }}

{{ theme:js file="jquery.min.js" }}
{{ theme:js file="bootstrap.min.js" }}
{{ theme:js file="countdown.min.js" }}