/* Google Maps Input */
#map {
  height: 200px;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

/* Image delete */
#picture {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}
#delete-pic {
  position: absolute;
  top: -5px;
  right: -9px;
  font: 20px bold;
  width: 25px;
  height: 25px;
  background: #E1DADA;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  color: #000000;
  cursor: pointer;
}

/* For button on Sub Header */
.btn-group.content-toolbar.subheader-toolbar {
  margin-top: -5px;
}
a.subheader:hover {
  text-decoration: none;
  color: #428bca;
}
h4.header {
  margin-left: -10px;
}

/* Manajemen */
.row.row-manajemen-entry {
  margin-bottom: 10px;
}

/* Content placeholder */
@keyframes placeHolderShimmer {
  0%{ background-position: -468px 0; }
  100%{ background-position: 468px 0; }
}

.animated-background {
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: placeHolderShimmer;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative;
}

.animated-background.manajemen-foto {
  width: 79px;
  height: 79px;
}
.animated-background.text-line {
  width: 60%;
  height: 12px;
  margin-bottom: 10px;
}


@media print {
  @page 
  {
    /*size: landscape;    auto is the current printer page size */
    /*margin: 0mm;  /* this affects the margin in the printer settings */
    size: auto;   /* auto is the initial value */ 
    margin:7mm;
  }
  body {
    background-color: #fff !important;
    margin:0px;
  }

  .table-responsive{
    overflow-x: hidden !important;
    overflow-y: hidden !important;
  }
  
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
  .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;               
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666666666666%;
  }

  .col-sm-10 {
    width: 83.33333333333334%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666666666666%;
  }

  .col-sm-7 {
    width: 58.333333333333336%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666666666667%;
  }

  .col-sm-4 {
    width: 33.33333333333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.666666666666664%;
  }

  .col-sm-1 {
    width: 8.333333333333332%;
  }       

  .btn{
    display: none !important;
  }
  #map{
    display:none;
  }
  #dpk{
    background-color: #5d96d0 !important; font-size: 25px; color:  white !important; font-weight: bold; -webkit-print-color-adjust: exact; 
  }

  #gr{
    background-color: #f7a427 !important; font-weight: bold; -webkit-print-color-adjust: exact; 
  }
  #val_gr{
    background-color: #f7a427a1 !important; font-weight: bold; -webkit-print-color-adjust: exact; 
  } 
  #dp{
    background-color: #5baf3f !important; font-weight: bold; -webkit-print-color-adjust: exact; 
  } 
  #val_dp{
    background-color: #5baf3fa3 !important; font-weight: bold; -webkit-print-color-adjust: exact; 
  } 
  #tb{
    background-color: #de6d41 !important; font-weight: bold; -webkit-print-color-adjust: exact; 
  } 
  #val_tb{
    background-color: #de6d41a6 !important; font-weight: bold; -webkit-print-color-adjust: exact; 
  } 
}
