<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	{{ theme:partial name='unify/metadata_checkout' }}
</head>
<body>

	<div class="wrapper">
		<!--=== Header ===-->
		<div class="header">
			<div class="container">

				<!-- Logo -->
				{{ theme:image file="unify/logo.png" class="logo" }}
				<!-- End Logo -->

			</div><!--/end container-->
		</div>
		<!--=== End Header ===-->
		<!--=== Content Medium Part ===-->
		<div class="page-content">
			{{ template:body }}
		</div>
		<div class="page-action margin-top-20 ">
			<div class="container">
				
			</div>
		</div>
		<!--=== End Content Medium Part ===-->
	</div><!--/wrapper-->

	{{ theme:partial name='unify/footer_checkout' }}
<!--[if lt IE 9]>
	<script src="assets/plugins/respond.js"></script>
	<script src="assets/plugins/html5shiv.js"></script>
	<script src="assets/plugins/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
	<![endif]-->
<!--[if lt IE 10]>
	<script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
	<![endif]-->

</body>
</html>