<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	{{ theme:partial name='unify/metadata' }}
	<style type="text/css">
		.login-page {
			color: #555;
			padding: 30px;
			background: #fefefe;
			border: solid 1px #eee;
			box-shadow: 0 0 3px #eee;
		}
		img.logo {
			width: 100%;
		}
	</style>
</head>
<body>

	<div class="wrapper">
		
		<!--=== Profile ===-->
		<div class="container content profile">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">

				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
					<div class="login-page">
						<div class="logo">
							<div class="row">
								<div class="col-md-12">
									<!-- Logo -->
									<a href="{{ url:site }}">
										{{ theme:image file="unify/logo.png" class="logo" }}
									</a>
								</div>
							</div>
						</div>
						{{ template:body }}
					</div>
				</div>
			</div>
		</div>
		<!--=== End Profile ===-->
	</div><!--/wrapper-->

	{{ theme:partial name='unify/footer' }}
<!--[if lt IE 9]>
	<script src="assets/plugins/respond.js"></script>
	<script src="assets/plugins/html5shiv.js"></script>
	<script src="assets/plugins/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
	<![endif]-->
<!--[if lt IE 10]>
	<script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
	<![endif]-->

</body>
</html>