<!DOCTYPE html>
<html>

    <head>
    	<!-- data meta di taruh disini -->
        {{ theme:partial name='new_metadata' }}

    </head>

    <body>
        {{ template:body }}

        <!-- js disini -->
        {{ theme:partial name='new_footer' }}
    </body>
</html>