<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	{{ theme:partial name='unify/metadata' }}
</head>
<body>

	<div class="wrapper">
		<!--=== Header ===-->
		<div class="header">
			<div class="container">
				<!-- Logo -->
				<a class="logo" href="{{ url:site }}">
					{{ theme:image file="logo.png" class="logo" style="height: 100px;" }}
				</a>
				<div class="topbar">
					<ul class="loginbar pull-right">
						<li><a href="<?php echo base_url().'users/view'; ?>">Hi, <?php echo $this->current_user->display_name; ?></a></li>
						<li class="topbar-devider"></li>
						<li><a href="<?php echo base_url().'logout'; ?>">Logout</a></li>
					</ul>
				</div>
				<!-- End Logo -->
			</div><!--/end container-->
		</div>
		<!--=== End Header ===-->

		<div class="breadcrumbs">
			<div class="container">
				<h1 class="pull-left">Member Area</h1>
				<ul class="pull-right breadcrumb">
					<li><a href="<?php echo site_url(); ?>">&larr; Back to Homepage</a></li>
				</ul>
			</div><!--/container-->
		</div>
		
		<!--=== Profile ===-->
		<div class="container content profile">
			<div class="row">
				<!--Left Sidebar-->
				<div class="col-md-3 md-margin-bottom-40">
					<?php
					if(isset($this->current_user->picture_id)) {
					$img_src = base_url().'files/thumb/'.$this->current_user->picture_id;
					?>
					<img class="hidden-xs hidden-sm img-responsive profile-img margin-bottom-20" src="<?php echo $img_src; ?>" alt="" style="width:100%;">
					<?php 
					} else {
					$gravatar = gravatar($this->current_user->email, 100, 'g', true);
					?>
					<img class="hidden-xs hidden-sm img-responsive profile-img margin-bottom-20" src="<?php echo $gravatar; ?>" alt="" style="width:100%;">
					<?php } ?>
					<ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
						<li class="list-group-item <?php echo (strpos(uri_string(),'users/view') !== false) ? 'active' : ''; ?>">
							<a href="<?php echo base_url().'users/view'; ?>"><i class="fa fa-user"></i> Profile</a>
						</li>
						<li class="list-group-item <?php echo (strpos(uri_string(),'dompet/saldo/index') !== false || strpos(uri_string(),'dompet/saldo/tambah_saldo') !== false || strpos(uri_string(),'dompet/saldo/tarik_saldo') !== false || strpos(uri_string(),'dompet/saldo/request_saya') !== false) ? 'active' : ''; ?>">
							<a href="<?php echo base_url().'dompet/saldo'; ?>"><i class="fa fa-money"></i> Dompet Saya</a>
						</li>
						<?php if($this->current_user->group == "admin" || $this->current_user->group == "site_admin"){ ?>
						<li class="list-group-item <?php echo (strpos(uri_string(),'dompet/saldo/all_request') !== false) ? 'active' : ''; ?>">
							<a href="<?php echo base_url().'dompet/saldo/all_request'; ?>"><i class="fa fa-tasks"></i> Semua Request</a>
						</li>
						<?php } ?>
						<li class="list-group-item <?php echo (strpos(uri_string(),'commerce/order/my_order') !== false) ? 'active' : ''; ?>">
							<a href="<?php echo base_url().'commerce/order/my_order'; ?>"><i class="fa fa-shopping-cart"></i> Pesanan Saya</a>
						</li>
						<li class="list-group-item <?php echo (strpos(uri_string(),'commerce/rekening/index') !== false) ? 'active' : ''; ?>">
							<a href="<?php echo base_url().'commerce/rekening/index'; ?>"><i class="fa fa-book"></i> Rekening Saya</a>
						</li>
					</ul>

					<div class="margin-bottom-50"></div>
				</div>
				<!--End Left Sidebar-->

				<!-- Profile Content -->
				<div class="col-md-9">
					<div class="profile-body margin-bottom-20 clearfix">
						{{ template:body }}
					</div>
				</div>
				<!-- End Profile Content -->
			</div><!--/end row-->
		</div>
		<!--=== End Profile ===-->
	</div><!--/wrapper-->

	{{ theme:partial name='unify/footer' }}
<!--[if lt IE 9]>
	<script src="assets/plugins/respond.js"></script>
	<script src="assets/plugins/html5shiv.js"></script>
	<script src="assets/plugins/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
	<![endif]-->
<!--[if lt IE 10]>
	<script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
	<![endif]-->

</body>
</html>