<!DOCTYPE html>
<html>

    <head>
        {{ theme:partial name='new_metadata' }}

    </head>

    <body>
        {{ template:body }}

        {{ theme:partial name='new_footer' }}
    </body>
</html>