<!-- JS Implementing Plugins -->
	<script src="{{ url:site }}{{ theme:path }}/plugins/unify/back-to-top.js"></script>
	<script src="{{ url:site }}{{ theme:path }}/plugins/unify/smoothScroll.js"></script>
	<script src="{{ url:site }}{{ theme:path }}/plugins/unify/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="{{ url:site }}{{ theme:path }}/plugins/unify/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
	
	<script>
		jQuery(document).ready(function() {
			
		});

</script>