	<!-- Begin meta tags -->
<title>{{ template:title }} - {{ settings:site_name }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="author" content="Nuesto Technology" />
<meta name="copyright" content="2017" />

<!-- Facebook Tags -->
<meta property="og:title" content="{{ template:title }}"/>
<meta property="og:type" content="elearning"/>
<meta property="og:url" content="{{ url:site }}"/>
<meta property="og:site_name" content="{{ settings:site_name }}"/>

<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<!-- /Mobile Specific Metas -->

<!-- favicon -->
{{ theme:favicon file="favicon.ico" }}

	<!-- Web Fonts -->
	<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

	<!-- CSS Global Compulsory -->
    {{ theme:css file="../plugins/unify/bootstrap/css/bootstrap.min.css" }}
    {{ theme:css file="../plugins/unify/ladda-buttons/css/custom-lada-btn.css" }}
    {{ theme:css file="style.css" }}

	<!-- CSS Header and Footer -->
	<!--
		<link rel="stylesheet" href="assets/css/headers/header-v5.css">
		<link rel="stylesheet" href="assets/css/footers/footer-v4.css">
	-->
	{{ theme:css file="headers/header-default.css" }}
	{{ theme:css file="footers/footer-v1.css" }}

	<!-- CSS Implementing Plugins -->
    {{ theme:css file="../plugins/unify/animate.css" }}
    {{ theme:css file="../plugins/unify/line-icons/line-icons.css" }}
    {{ theme:css file="../plugins/unify/font-awesome/css/font-awesome.min.css" }}
    {{ theme:css file="../plugins/unify/jquery-steps/css/custom-jquery.steps-red.css" }}
    {{ theme:css file="../plugins/unify/scrollbar/css/jquery.mCustomScrollbar.css" }}
    {{ theme:css file="../plugins/unify/sky-forms-pro/skyforms/css/sky-forms.css" }}
    {{ theme:css file="../plugins/unify/sky-forms-pro/skyforms/custom/custom-sky-forms.css" }}

	<!-- CSS Page Style -->
	{{ theme:css file="pages/profile.css" }}

	<!-- CSS Theme -->
	{{ theme:css file="theme-colors/red.css" }}

	<!-- CSS Customization -->
	{{ theme:css file="custom.css" }}

	<style type="text/css">
    	.list-item {
    		font-size:12px;
    		border : 1px solid rgb(218, 216, 216);
    		margin-bottom: 10px;
    	}
    	.list-item .order-summary {
    		background : rgb(218, 216, 216);
    		padding: 10px 0;
    	}
    	.list-item .order-detail {
    		background : #ffffff;
    		padding: 10px 0;
    	}
    	.list-item .order-detail .product-name {
    		font-size:18px;
    	}
    	.list-item .order-notice {
    		margin: 10px 0;
    	}
    	.list-item .order-notice .order-notice-icon {
    		float: left;
    		font-size: 25px;
    		margin-right: 10px;
    	}
    	.list-item .order-notice .order-notice-message a {
    		text-decoration: none;
    	}
    	.list-item .order-notice .order-notice-message {
    		float: left;
    	}
    	@media (max-width: 768px) {
    		.list-item .order-summary .col-sm-3 {
    			margin-bottom: 10px;
    		}
    	}
    	@media (max-width: 768px) {
    		.list-item .order-detail .col-sm-6 {
    			margin-bottom: 15px;
    		}
    	}
    	@media (max-width: 420px) {
    		.list-item .order-notice .order-notice-icon {
    			display: none;
    		}
    	}
    	@media (max-width: 420px) {
    		.tab-disapear {
    			display: none;
    		}
    	}
    	@media (min-width: 420px) {
    		.dropdown-disapear {
    			display: none;
    		}
    	}
    	.menu {
    		background-color: #e74c3c !important;
    		color: #ffffff !important;
    		cursor: pointer;
    	}
    	.menu option:not(:checked) {
    		background-color: #ffffff !important;
    		color: #000000 !important;
    	}
    	.action-button .btn-u {
    		margin: 5px;
    	}
    	.action-button .btn-u:first-child {
    		margin-right: 10px;
    	}

@media (max-width:480px) {
    .action-button .btn-u {
        margin: 5px 0;
        width: 100%;
    }
    .action-button .btn-u:first-child {
        margin-right: 0;
        width: 100%;
    }
}

    </style>

	<!-- JS Global Compulsory -->
    {{ theme:js file="../plugins/unify/jquery/jquery.min.js" }}
    {{ theme:js file="../plugins/unify/jquery/jquery-migrate.min.js" }}
    {{ theme:js file="../plugins/unify/bootstrap/js/bootstrap.min.js" }}
    {{ theme:js file="../plugins/unify/ladda-buttons/js/spin.min.js" }}
    {{ theme:js file="../plugins/unify/ladda-buttons/js/ladda.min.js" }}
	