	<!-- Begin meta tags -->
<title>{{ template:title }} - {{ settings:site_name }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="author" content="Rendy Saputra &amp; Keke Busana" />
<meta name="copyright" content="Rendy Saputra &amp; Keke Busana" />

<!-- Facebook Tags -->
<meta property="og:title" content="Sekolah Bisnis Dua Kodi Kartika"/>
<meta property="og:type" content="elearning"/>
<meta property="og:url" content="{{ url:site }}"/>
<meta property="og:image" content="{{ url:site }}{{ theme:path }}/img/duakodi-preview.jpg"/>
<meta property="og:site_name" content="{{ settings:site_name }}"/>
<meta property="og:description" content="Dapatkan pembelajaran yang komprehensif tentang bagaimana mengelola dan membangun bisnis melalui platform duakodikartika.com"/>

<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<!-- /Mobile Specific Metas -->

<!-- favicon -->
{{ theme:favicon file="favicon.ico" }}

	<!-- Web Fonts -->
	<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" type="text/css" href="{{ url:site }}{{ theme:path }}/plugins/unify/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url:site }}{{ theme:path }}/plugins/unify/ladda-buttons/css/custom-lada-btn.css">
	{{ theme:css file="shop.style.css" }}

	<!-- CSS Header and Footer -->
	<!--
		<link rel="stylesheet" href="assets/css/headers/header-v5.css">
		<link rel="stylesheet" href="assets/css/footers/footer-v4.css">
	-->
	{{ theme:css file="headers/header-default.css" }}
	{{ theme:css file="footers/footer-v1.css" }}

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" type="text/css" href="{{ url:site }}{{ theme:path }}/plugins/unify/animate.css">
	<link rel="stylesheet" type="text/css" href="{{ url:site }}{{ theme:path }}/plugins/unify/line-icons/line-icons.css">
	<link rel="stylesheet" type="text/css" href="{{ url:site }}{{ theme:path }}/plugins/unify/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url:site }}{{ theme:path }}/plugins/unify/jquery-steps/css/custom-jquery.steps-red.css">
	<link rel="stylesheet" type="text/css" href="{{ url:site }}{{ theme:path }}/plugins/unify/scrollbar/css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" type="text/css" href="{{ url:site }}{{ theme:path }}/plugins/unify/sky-forms-pro/skyforms/css/sky-forms.css">
	<link rel="stylesheet" type="text/css" href="{{ url:site }}{{ theme:path }}/plugins/unify/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

	<!-- Style Switcher -->
	{{ theme:css file="plugins/style-switcher.css" }}

	<!-- CSS Theme -->
	{{ theme:css file="theme-colors/red.css" }}

	<!-- CSS Customization -->
	{{ theme:css file="custom.css" }}

	<!-- JS Global Compulsory -->
	<script src="{{ url:site }}{{ theme:path }}/plugins/unify/jquery/jquery.min.js"></script>
	<script src="{{ url:site }}{{ theme:path }}/plugins/unify/jquery/jquery-migrate.min.js"></script>
	<script src="{{ url:site }}{{ theme:path }}/plugins/unify/bootstrap/js/bootstrap.min.js"></script>
	<script src="{{ url:site }}{{ theme:path }}/plugins/unify/ladda-buttons/js/spin.min.js"></script>
	<script src="{{ url:site }}{{ theme:path }}/plugins/unify/ladda-buttons/js/ladda.min.js"></script>
	