.tDnD_whileDrag{
    background-color: #eee;
    -webkit-box-shadow: 6px 3px 5px #ccc;
    -moz-box-shadow: 6px 3px 5px #ccc;
    box-shadow: 6px 3px 5px #ccc;
}

.drag_handle {
    background:url(../img/icons/drag_handle_dark.gif) no-repeat 50%;
}