.top-before-masterhead{
	margin-top: 30px;
}
.box-howit-work h2{
	color: #e31d3b !important;
	font-weight: bold;
	font-size: 32px;
	text-align: center;
	margin-bottom: 50px;
}
.box-howit-work p{
	font-size: 16px;
	margin-bottom: 20px;
	line-height: 28px;
}
@media (max-width: 480px){
	.box-howit-work p{
		font-size: 16px;
		margin-bottom: 20px;
		text-align: center;
	}
}

.pricing-table .prices {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 26px;
    font-weight: 300;
    color: #ffffff;
    display: inline-block;
    margin-bottom: 16px;
}
.pricing-table .prices-new {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 41px;
    font-weight: bold;
    color: #ffffff;
    display: inline-block;
    margin-bottom: 16px;
}

.btn-daftar{
	background: #e31d3b;
	border-radius: 5px;
	padding: 10px 25px;
}
.btn-daftar:hover{
	background: #ad1129;
}
.text-masterhead ul li{
	font-size: 16px;
	padding-left: 20px;
}
.text-masterhead i{
	font-size: 21px;
	color: #e31d3b;
}
.text-masterhead p{
	font-size: 16px;
}
@media (min-width:768px) and (max-width:992px) {
	.text-masterhead i{
		font-size: 18px;
		color: #e31d3b;
	}
	.text-masterhead p{
		font-size: 13px;
		text-align: center;
	}
}
.btn-red:hover{
	background: #ad1129;
	border: none;
	color: #fff;
}
.button-red-bottom{
	max-width: 300px;
	margin: 20px auto;
}
.right-text-one{
	text-align: center;
}


.box-item{
	margin-top: 50px;
}

.feature.boxeds{
    padding: 20px;
    min-height: 200px;
    background: #f8f8f8;
}
@media (max-width: 480px){
	.feature.boxeds{
		min-height: 150px;
		padding: 32px;
	}
}

.feature .boxeds .text-center{
	padding: 10px;
}

.v-align-children h3{
	font-size: 31px;
}

.desription-list li::before {
    font-family: 'FontAwesome' !important;
    content: "\f00c" !important;
    margin: 0 5px 0 -20px;
    color: #ad1129;
}

.btn-red:hover{
	background: #ad1129;
	border: none;
	color: #fff;
}

.btn-reds{
	background: #e31d3b;
	color: #fff;
}
.btn-reds:hover{
	background: #a51027;
	color: #fff;
	border: none;
}
@media (max-width: 480px){
	.btn-reds{
		display: block;
	}
}


.btn-white{
	background: #a51027;
	border: 1px solid #fff;
	color: #fff;
}
.btn-white:hover{
	background: #ffffff;
	color: #a51027;
	border: 1px solid #a51027;
}
.text-masterhead h4{
	margin-bottom: 0;
}
.text-masterhead h3{
	margin-bottom: 20px;
}
.btn.btn-signup {
    color: #fff;
    background-color: #e31d3b;
}
.btn.btn-signup:hover {
    color: #e31d3b;
    background-color: #fff;
}

.login-xs{
	margin-right: 10px;
	font-size: 11px;
}

.image-product{
	width: 200px;
	height: auto;
}

.v-align-childrens{
	text-align: center;
}

.v-align-childrens h3{
	margin-top: 120px;
}

.btn-daftar-top{
	background: #ad1129;
	color: #fff !important;
	border: none;
}
/*Product etc style*/
.box-img-resize{
	width: 200px;
	height: 200px;
	margin-bottom: 10px;
}
.box-img-resize img{
	max-width: 100%;
	max-height: 100%;
	padding: 15px;
}
/*Product etc style*/
.cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
}
/*Contact us style*/
.box-contactus-ldp h4{
	font-size: 26px;
	text-transform: uppercase;
	font-weight: bold;
}
.box-contactus-ldp p{
	font-size: 16px;
	vertical-align: center;
}
.box-contactus-ldp i{
	color: #fff;
}
/*Contact us style*/



/*Responsive Setting Landing Page*/
@media (max-width:480px) {
	.module img{
		width: 150px;
		height: auto;
	}
	.red-hide{
		display: none;
	}

	.v-align-childrens p{
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.text-masterhead p{
		font-size: 13px;
		text-align: center;
	}

}
/*Ipad Potrait*/
@media (min-width:768px) and (max-width:992px) {
	.module img{
		width: 150px;
		height: auto;
	}

	.feature h4{
		font-size:16px;
	}
	
	.feature .boxed{
		padding: 0;
		min-height: 220px;
	}
	.feature .boxed .text-center{
		padding: 10px;
	}

	.bg-primary h1{
	font-size: 31px;
    line-height: 35px;
    text-align: center;
    margin-top: 120px;
	}

	.bg-secondary .thin{
		font-size: 31px;
		line-height: 60px;
		text-align: center;
	}

	.lead{
		text-align: center;
	}

	.right-text-one{
		margin-top: 150px;
	}

	.v-align-children h3{
		font-size: 31px;
	}

	.v-align-childrens{
		text-align: center;
	}

	.v-align-childrens p{
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.red-hide{
		display: none;
	}

}
/*Ipad Landscape*/
@media (min-width:992px) and (max-width:1200px) {
	.bg-primary h1{
	font-size: 31px;
    line-height: 35px;
    text-align: center;
    margin-top: 120px;
	}
	.bg-secondary .thin{
		font-size: 41px;
		line-height: 60px;
	}

	.v-align-childrens{
		text-align: center;
	}

	.v-align-childrens p{
		margin-top: 20px;
		margin-bottom: 20px;
	}

}

/*Mobile*/
@media (max-width:767px) {
	.bg-primary h1{
		text-align: center;
	}
	.bg-primary p{
		text-align: center;
	}
	.logo-dark{
		width: 120px;
		height: auto;
	}

	.red-hide{
		display: none;
	}
	
	.text-masterhead h4{
		text-align: center;
	}
	.text-masterhead h3{
		font-size: 18px;
		text-align: center;
	}
	.text-masterhead p{
		text-align: center;
	}

	.bg-secondary .thin{
		font-size: 18px;
		line-height: 30px;
		margin-top: -40px;
		text-align: center;
	}

	.lead{
		text-align: center;
	}

	.box-howit-work p{
		text-align: center;
	}
	.v-align-childrens{
		text-align: center;
	}

}
@media (max-width:480px) {
	.text-masterhead h4{
		text-align: center;
	}
	.text-masterhead h3{
		font-size: 18px;
		text-align: center;
	}
	.bg-secondary .thin{
		font-size: 18px;
		line-height: 30px;
		margin-top: -40px;
		text-align: center;
	}

	.v-align-childrens{
		text-align: center;
		margin-top: -135px;
	}

	.right-text-one{
		margin-top: 20px;
	}

	.lead{
		text-align: center;
	}

	.v-align-childrens p{
		margin-top: 20px;
		margin-bottom: 20px;
	}

}
@media(max-width: 320px){

	.text-masterhead h4{
		text-align: center;
	}
	.text-masterhead h3{
		font-size: 18px;
		text-align: center;
	}

	.bg-secondary .thin{
		font-size: 16px;
		line-height: 30px;
		margin-top: -40px;
		text-align: center;
	}
	.right-text-one{
		text-align: center;
	}

	.v-align-childrens{
		text-align: center;
	}
	
	.v-align-childrens p{
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.lead{
		text-align: center;
	}

	.red-hide{
		display: none;
	}
	.logo-dark{
		width: 120px;
		height: auto;
	}

}

/*Responsive Setting*/