/* Add here all your css styles (customizations) */

/*Page Order Create setting*/
.box-top-poc{
	margin-top: 20px;
}
.btn-signup{
	margin-top:15px;
}
.btn-login{
	margin-top: 3px;
}

.button-confirmation{
	max-width: 300px;
	margin: 0 auto;
}

.btn-confirmation{
	padding: 15px;
	margin-top: 10px;
	background: #145394;
	padding: 10px;
	color: #fff;
}
.btn-confirmation:hover{
	background: #06407c;
	color: #fff;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s; 
}
.btn-green{
	padding: 15px;
	margin-top: 10px;
	background: #3ea600;
	padding: 10px;
	color: #fff;
}
.btn-green:hover{
	background: #358d00;
	color: #fff;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s; 
}

.bottom-poc-desc{
	margin-top: 25px;
}

.left-text h4{
	font-size: 24px;
	font-weight: bold;
}
.right-text a{
	text-decoration:none;
}
.right-text h4{
	font-size: 18px;
}
.right-text h4 b{
	color: #c13f31;
}
.box-grey-payment{
	background : #dddddd;
	padding: 10px 5px;
}
.payment-value span{
	background: #dddddd;
	padding:1px 8px;
}
/*Page Order Create setting*/

<<<<<<< HEAD
/*Current*/
.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active {
	color: #fff;
    background: #c13f31;
    -webkit-transition: all 0.3s ease-in-out;
   	-moz-transition: all 0.3s ease-in-out;
   	-o-transition: all 0.3s ease-in-out;
   	transition: all 0.3s ease-in-out;
}

.wizard > .steps .current .number,
.wizard > .steps .current h2,
.wizard > .steps .current p,
.wizard > .steps .current i {
	color: #fff;
}

.wizard > .steps .current i {
	border-color: #fff;
}


/* form checkout */
.wizard .actions a {
			min-width: 120px;
		}
		.sky-form {
			border : none;
		}
		.sky-form a {
			text-decoration: none;
		}
		.sky-form label.select {
			margin-bottom : 10px;
		}
		.sky-form label.select select {
			border-color : #eee;
			color : #888;
		}
		.sky-form label.select select:hover {
			border-color : #eee;
		}
		.sky-form label.checkbox {
			margin-bottom : 10px;
			color: #888;
		}
		.sky-form label.checkbox:hover {
			border-color : #eee;
		}
		label.address.textarea {
			margin-bottom : 10px;
		}
		label.address.textarea textarea {
			border-color : #eee;
			color : #888;
		}
		label.address.textarea textarea:hover {
			border-color : #eee;
		}
		label.address.textarea textarea:focus {
			border-color : #eee;
			box-shadow: none;
		}
		label.address.textarea textarea::-moz-placeholder {
			color: #888;
			opacity: 1;
		}
		label.address.textarea textarea:-ms-input-placeholder {
			color: #888;
			opacity: 1;
		}
		label.address.textarea textarea::-webkit-input-placeholder {
			color: #888;
			opacity: 1;
		}
		#login .input-group input {
			margin-bottom: 0px;
		}
		.shipment-title {
			font-size: 16px;
			font-weight: bold;
		}
		.tab-v1 .tab-content {
			padding-top: 20px;
		}
		.buyer-info-form {
			min-height: 250px;
		}
		.shopping-cart .quantity-button {
			width: 30px;
			height: 25px;
			padding: 0;
			line-height: 20px;
		}
		.shopping-cart .product-quantity {
			margin-top: 12px;
		}
		.shopping-cart .billing-info-inputs input.quantity-field {
			width: 30px;
			height: 25px !important;
			min-height: 0px;
		}
		.shopping-cart .total-result li {
			margin-top: 0px;
		}
		.shopping-cart .total-result h5 {
			float: left;
			margin-right: 15px;
		}
		.shopping-cart .total-result-in h4, .shopping-cart .total-result-in span {
			font-size: 14px;
		}

		.payment-due-date {
			background: rgb(212, 212, 212) none repeat scroll 0% 0%;
			padding: 10px;
			width: 370px;
			margin: auto;
			overflow-x: auto;
			font-size: 15px;
			font-weight: bold;
			color: rgb(95, 93, 93);
		}
		@media (max-width:480px) {
			.payment-due-date {
				width: 300px;
			}
		}

		.payment-value {
			padding: 10px;
			margin: auto;
			overflow-x: auto;
			font-size: 42px;
			font-weight: bold;
			color: rgb(95, 93, 93);
			overflow: hidden;
		}
		.bank-list {
			margin: auto;
		}
		.loader {
			font-size: 40px;
			text-align: center;
		}
		.commerce-tab {
			padding-top: 40px;
		}
		.commerce-tab .current-info.audible {
			display: none;
		}
		.commerce-tab a {
			width: auto;
			padding: 15px;
			display: block;
			text-decoration: none;
			cursor: default;
			background: inherit;
			border: 1px solid #eee;
			-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
		}
		.commerce-tab .current a {
			color: #fff;
			background: #c13f31;
		}
		.commerce-tab .done a {
			background: #e44433;
			margin-bottom: 20px;
		}
		.commerce-tab .disabled a {
			color: #fff;
		}
		.commerce-tab .number {
			float: left;
			font-size: 36px;
			margin-right: 15px;
		}
		.commerce-tab .done .number {
			color: #ffffff;
		}
		.commerce-tab .current .number {
			color: #ffffff;
		}
		.commerce-tab .disabled .number {
			color: #e44433;
		}
		.commerce-tab .done .overflow-h h2 {
			color: #ffffff;
		}
		.commerce-tab .current .overflow-h h2 {
			color: #ffffff;
		}
		.commerce-tab .disabled .overflow-h h2 {
			color: #687074;
		}
		.commerce-tab .done .overflow-h p {
			color: #ffffff;
		}
		.commerce-tab .current .overflow-h p {
			color: #ffffff;
		}
		.commerce-tab .disabled .overflow-h p {
			opacity: 0.6;
			font-size: 16px;
		}
		.commerce-tab .overflow-h i {
			top: 15px;
			right: 30px;
			width: 40px;
			height: 40px;
			padding: 8px;
			color: #c4c4c4;
			font-size: 20px;
			text-align: center;
			position: absolute;
			display: inline-block;
			border: 2px dashed #e0e0e0;
		}
		.commerce-tab .done .overflow-h i {
			color: #ffffff;
			border-color: #ffffff;
		}
		.commerce-tab .current .overflow-h i {
			color: #ffffff;
			border-color: #ffffff;
		}
		.page-action .btn-u {
			color: #fff;
			display: block;
			font-size: 16px;
			min-width: 126px;
			padding: 8px 10px;
			text-align: center;
			background: #e74c3c;
			text-decoration: none;
			text-transform: uppercase;
		}
.pagination li a {
	padding: 6px 15px;
}

.header > .container {
	margin-bottom: 0px;
}
.profile-edit .sky-form label.select select{
	border-color:#bbb;
	color: #404040;
}
.profile-edit .sky-form label.input input.disabled {
	background-color: rgb(248, 248, 248);
}

/*Responsive Setting Landing Page*/

/*Mobile*/
@media(max-width: 320px){
	.logo-dark{
		width: 120px;
		height: auto;
	}
}

@media (max-width:480px) {
	.logo-dark{
		width: 120px;
		height: auto;
	}

	.commerce-tab .done .overflow-h h2 {
		font-size: 16px;
	}
	.commerce-tab .done .overflow-h p {
		font-size:13px;
	}

	.commerce-tab .disabled .overflow-h h2 {
		font-size: 16px;
	}
	.commerce-tab .disabled .overflow-h p {
		font-size:13px;
	}

	.commerce-tab .current .overflow-h h2 {
		font-size: 16px;
	}
	.commerce-tab .current .overflow-h p {
		font-size:13px;
	}


	.commerce-tab .current .number{
		font-size: 26px;
	}
	.commerce-tab .disabled .number{
		font-size: 26px;
	}
	.commerce-tab .done .number{
		font-size: 26px;
	}

}

@media (max-width:767px) {
	.logo-dark{
		width: 120px;
		height: auto;
	}

}


/*Ipad Potrait*/
@media (min-width:768px) and (max-width:992px) {
	.btn-green{
		width: auto;
	}
	.btn-confirmation{
		width: auto;
	}
}

/*Ipad Landscape*/
@media (min-width:992px) and (max-width:1200px) {
	.btn-green{
		width: auto;
	}
	.btn-confirmation{
		width: auto;
	}
}


/*Responsive Setting Landing Page*/