/*Largest Screen*/
@media (min-width:1600px) {

}

/*Large Screen*/
@media (min-width:1400px) and (max-width:1600px) {

}

/*Ipad Landscape*/
@media (min-width:992px) and (max-width:1200px) {

}

/*Ipad Potrait*/
@media (min-width:767px) and (max-width:992px) {

}

/*Mobile*/
@media (max-width:767px) {

 .header a img{
    margin-bottom: 10px;
 }

}